{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <title>colaboradores</title>
</head>
<body>
    <!-- Inicio del Cuerpo  -->

    <!-- Contenedor del titulo -->
    <div class="contenedor_titulo">
        <h1 id="titulo">Control de Empleados</h1>
    </div>
    
    <!-- ************************************************************************************************************* -->

    <!--contenedor -->
    <div class="contenedor_busqueda">
        <input
            type="text"
            id="search-bar"
            class="search-input"
            placeholder="Buscar empleados..."
            value = "{{ search_query }}"
        />
        <button id="search-button" class="search-button">Buscar</button>
        <div id="contenedor_resultados">
            <!-- Aquí van los resultados -->
        </div>
    </div>
    
    <!-- ************************************************************************************************************* -->
    <br>
    <br>

    <!-- Contenedor de la lista -->
    <div class="contenedor_lista">
        <table class="tabla" id="tabla_empleados">
            <tr class="encabezado">
                <th>Nombre</th>
                <th>Identificación</th>
                <th>Acciones</th>
            </tr>
            {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.identificacion }}</td>
                <td class="acciones">
                    <button class="boton_consultar" onclick="consularEmpleado('{{ empleado.identificacion }}')">
                        Consultar
                    </button>
                    <button class="boton_modificar" onclick="modificarEmpleado('{{ empleado.identificacion }}')">
                        Modificar
                    </button>
                    <button class="boton_borrar" onclick="borrarEmpleado('{{ empleado.identificacion }}')">
                        Borrar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    

    <!-- ************************************************************************************************************* -->


    
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>